#header {
  background: #fff;
  box-shadow: 0 0 10px #000;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#logo {
  background-image: url(/images/logo-2.png);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 80px;
  padding: 6px 20px;
  width: 300px;
}

#menu {
  display: flex;
  height: 80px;
  justify-content: flex-end;
  padding-right: 16px;
}

#menu a {
  align-items: center;
  color: #104378;
  display: inline-flex;
  font-family: "Cinzel", serif;
  font-size: 16px;
  padding: 0 16px;
  text-decoration: none;
  white-space: nowrap;
}

#phone {
  align-items: center;
  background: #104378;
  color: #fff;
  display: inline-flex;
  float: right;
  font-family: "Cinzel", serif;
  height: 80px;
  justify-content: center;
  padding: 0 16px;
  white-space: nowrap;
}

#banner {
  align-items: center;
  background-image: url(/images/slider3.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

@media all and (max-width: 920px) {
  #menu a {
    font-size: 14px;
    padding: 0 8px;
  }
}

@media all and (max-width: 820px) {
  #header {
    height: 110px;
  }
  #menu {
    height: 30px;
    justify-content: space-evenly;
    padding: 0 32px;
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  #header {
    height: 140px;
    position: relative;
  }
  #logo {
    width: 100%;
  }
  #phone {
    height: 30px;
    width: 100%;
  }
}

#welcome {
  padding: 32px;
  text-align: center;
}

#areasofpractice {
  background: #f2f2f2;
  padding: 32px 16px 16px;
  text-align: center;
}
#areasofpractice-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#areasofpractice-grid div {
  align-items: center;
  background-blend-mode: hard-light;
  background-color: #000;
  background-size: cover;
  color: #fff;
  display: inline-flex;
  font-family: "Cinzel", serif;
  font-size: 28px;
  height: 240px;
  justify-content: center;
  margin: 16px;
  text-align: center;
  width: 360px;
}

#about {
  padding: 32px;
  text-align: center;
}

#bio {
  display: flex;
  margin: 40px;
}

#portrait {
  background-image: url(/images/Chris-Karsten-Karsten-Law-Offices.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 0 0 240px;
  margin-right: 40px;
}

#profile {
  flex: 1;
}

#profile h4 {
  padding-top: 24px;
}

@media all and (max-width: 640px) {
  #bio {
    flex-direction: column;
    margin-top: 20px;
  }
  #portrait {
    flex-basis: 330px;
    margin: 0 0 40px;
  }
}

#testimonials {
  background-image: url(/images/header-aboutus.jpg);
  background-position: center center;
  background-size: cover;
  height: 330px;
  overflow: hidden;
  position: relative;
}

#testimonials h2 {
  color: #fff;
  line-height: 56px;
  padding: 40px;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 0px 0px 3px;
  width: 100%;
}

#testimonials .slider {
  display: flex;
  height: 160px;
  left: 0px;
  position: absolute;
  top: 136px;
  width: 100%;
}

#testimonials .slider div {
  flex: 0 0 100%;
  height: 100%;
  padding: 0 40px;
  position: relative;
  text-align: center;
  width: 100%;
}

#testimonials p {
  color: #fff;
}

#contact {
  margin: 32px 40px 40px;
}

#contact h2 {
  padding-bottom: 16px;
  text-align: center;
}

#contact p {
  padding-bottom: 20px;
}

#contact-wrapper {
  display: flex;
}

#contact-left {
  flex: 0 0 280px;
  margin-right: 40px;
}

#contact-right {
  flex: 1;
  margin-bottom: 40px;
}

@media all and (max-width: 640px) {
  #contact-wrapper {
    flex-direction: column-reverse;
  }
}
